<!DOCTYPE html>
<html>
<head>
    <title><%= @user.name %></title>
</head>
<body>
    <div class="user-info">
        <h1><%= @user.name %></h1>
        <p><%= @user.bio %></p>
    </div>
    <% @user.posts.each do |post| %>
        <div class="post">
            <h2><%= link_to post.title, user_post_path(@user, post) %></h2>
            <p><%= post.text %></p>
            <p class="post-info">Likes: <%= post.likes_counter %></p>
            <p class="post-info">Comments: <%= post.comments_counter %></p>
        </div>
    <% end %>
    <%= link_to 'View All Posts', user_posts_path(@user), class: 'button' %>
</body>
</html>