<!DOCTYPE html>
<html>
<head>
    <title>User's Posts</title>
</head>
<body>
    <section class="card-container">
        <div class="post-wrapper">
            <div class="allPost-info">
                <% if @user.photo.present? %>
                    <img src="<%= asset_path(@user.photo) %>">
                <% end %>
                <h1><%= @user.name %>'s Posts</h1>
            </div>
            <p class = 'user-show-numPost'>Total Posts: <%= @posts.count %></p>
            <!-- Form for creating a new post -->
            <%= form_for @new_post, url: user_posts_path(@user), html: { class: "form-container" } do |f| %>
                <%= f.label :title %>
                <%= f.text_field :title %>

                <%= f.label :text %>
                <%= f.text_area :text %>

                <%= f.submit "Create Post", class: "create-btn" %>
            <% end %>
            <% @posts.each do |post| %>
                <div class="post">
                    <h2><%= link_to post.title, user_post_path(@user, post) %></h2>
                    <p><%= post.text %></p>
                    <p class="post-info">Likes: <%= post.likes_counter %></p>
                    <p class="post-info">Comments: <%= post.comments_counter %></p>
                    <% post.recent_comments.each do |comment| %>
                        <p class="post-info">Comment: <%= comment.text %></p>
                    <% end %>
                </div>
            <% end %>
        </div>
    </section>
</body>
</html>